<div *ngIf="isLoading" class="loader-padding" fxLayout="column" fxLayoutAlign="center center" style="position:fixed;top:40%;left:45%;">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!isLoading" style="padding:20px;">

    <!-- <div *ngIf="showAll"> -->
    <div fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  
    </div>
  
    <p>Receipt Details</p>
    <mat-table #table [dataSource]="dataSource" matSort  (selectedIndexChange)="_setDataSource($event)">
    <!-- <mat-table #table [dataSource]="dataSource" matSort> -->
  
        <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef fxFlex="5%">No
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" fxFlex="5%">
              {{i+1}}
            </mat-cell>
          </ng-container>
      <ng-container matColumnDef="custId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cust ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.custId }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="receiptId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Receipt ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.receiptId }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="voucherNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.voucherNumber }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="partyLedgerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Party LedgerName</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.partyLedgerName }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.date | date: 'dd-MM-yyyy'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="effectiveDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Effective Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.effectiveDate | date: 'dd-MM-yyyy'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucherType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.voucherType}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="voucherKey">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Voucher Key</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.voucherKey}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ledgerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ledger Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.ledgerName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ displayINR(element.amount)}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="companyId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.companyId}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns" style="background:orange"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[1, 5, 10, 20]">
    </mat-paginator>
  </div>