<!-- <div class="bounds">
  <div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
    <div fxFlex="100" class="sec1" fxFlex.xs="100">
      <mat-tab-group color="primary" #tabGroup (selectedIndexChange)="_setDataSource($event)" (selectedTabChange)="onLinkClick($event)">
        <mat-tab label="Sales Orders"> -->
<div *ngIf="isLoading" class="loader-padding" fxLayout="column" fxLayoutAlign="center center" style="position:fixed;top:40%;left:45%;">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!isLoading">
<div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
  <div fxFlex="75" class="sec1" fxFlex.xs="75">
    <!-- <div *ngIf="!showLoader"> -->
    <div *ngIf="showAll" style="padding:10px;">
      <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="25px">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="showSelected()">Selected List</button>
        <button mat-raised-button color="warn" (click)="clearAll()">Clear All</button>
      </div>
      <p>Sales Orders</p>
      <mat-table #table1="matSort" [dataSource]="dataSource" matSort style="width: 100%">

        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef fxFlex="5%">No
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index;" fxFlex="5%">
            {{i+1}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%">Date</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%">{{ element.orderDate | date: 'dd-MM-yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%">Order #</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10%">{{ element.orderNumber }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20%">Company</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="20%">{{ element.company }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="bf">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="12%">Item</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="12%">{{ element.bf }} BF {{ element.gsm }} GSM</mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="gsm">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>GSM</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.gsm }}</mat-cell>
                </ng-container> -->


        <ng-container matColumnDef="size">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="8%">Size (Inch)</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="8%">{{ element.size }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="voucherKey">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%">Size (Cm)</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="5%">{{ (element.size)*2.54 | number: '1.0-0' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%">Weight (Tons)</mat-header-cell>
          <!-- <mat-cell *matCellDef="let element"> -->
          <mat-cell *matCellDef="let element" fxFlex="5%">{{ element.weight }}</mat-cell>
          <!-- </mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="newWeight">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%">Weight</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="5%">
            <!-- <input matInput id="textInput" class="custom" [ngModel]="element.weight" (ngModelChange)="element.weight=$event"/> -->
            <input id="text" #newWeight [ngModel]="element.newWeight" pattern="[0-9]" maxlength="3" (ngModelChange)="element.newWeight=$event"
              (change)="showReel()" />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reel">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%">Reel</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="5%">
            <!-- <input matInput id="textInput" class="custom" [ngModel]="element.reel" (ngModelChange)="element.reel=$event"/> -->
            <input type="text" [ngModel]="element.reel | number: '1.0-0'" pattern="[0-9]" maxlength="3" (ngModelChange)="element.reel=$event"
              (change)="showReel()" />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reelInStock">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%">Stock Reel</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="5%">
            <input type="text" [ngModel]="element.reelInStock | number: '1.0-0'" pattern="[0-9]" maxlength="3" (ngModelChange)="element.reelInStock=$event"
            />
            <!-- (change)="stockReel(element.reelInStock,element.reel,element.id)" /> -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef fxFlex="10%" class="align-center">Select
            <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"> -->
            <!-- </mat-checkbox> -->
          </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="10%" class="align-center">
            <button mat-raised-button color="primary" (click)="selectFromAll(row,row.id)">Select</button>
            <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"> -->
            <!-- </mat-checkbox> -->
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" style="background:orange"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSize]="50" [pageSizeOptions]="[1, 5, 10, 20]">
      </mat-paginator>
    </div>
    <!-- </div> -->
    <!-- <div *ngIf="!showLoader"> -->
    <div *ngIf="!showAll">
      <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="25px">
        <mat-form-field fxFlex="40%">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="showSalesOrders()">Sales Orders</button>
        <button mat-raised-button color="accent" (click)="confirmProduction()">Confirm</button>
        <button mat-raised-button color="warn" (click)="clearAll()">Clear All</button>
      </div>
      <!-- <mat-table [dataSource]="dataSource1" matSort> -->
      <p>Selected Sales Orders</p>
      <div style="padding:10px;">
        <mat-table #table2="matSort" [dataSource]="dataSource2" matSort>

          <ng-container matColumnDef="index">
            <mat-header-cell *matHeaderCellDef fxFlex="5%">No
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" fxFlex="5%">
              {{i+1}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="orderDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.orderDate | date: 'dd-MM-yyyy'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="orderNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Order #</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.orderNumber }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.company }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="bf">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Item</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.bf }} BF {{ element.gsm }} GSM</mat-cell>
          </ng-container>

          <ng-container matColumnDef="size">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Size (Inch)</mat-header-cell>
            <mat-cell *matCellDef="let element" class="align-center">{{ element.size }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="voucherKey">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Size (Cm)</mat-header-cell>
            <mat-cell *matCellDef="let element" class="align-center">{{ (element.size)*2.54 | number: '1.0-0' }}</mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="size">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Size (Cm)</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ (element.size)*2.54 | number: '1.0-0' }}</mat-cell>
                      </ng-container>-->

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center">Weight (Tons)</mat-header-cell>
            <!-- <mat-cell *matCellDef="let element"> -->
            <mat-cell *matCellDef="let element" class="align-center">{{ element.weight }}</mat-cell>
            <!-- </mat-cell> -->
          </ng-container>

          <ng-container matColumnDef="reel">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Reel</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ (element.reel)| number: '1.0-0' }}</mat-cell>
            <!-- <mat-cell *matCellDef="let element">
                          <input type="text" [ngModel]="element.reel" pattern="[0-9]" maxlength="3" (ngModelChange)="element.reel=$event" (change)="showReel()"
                          />
                        </mat-cell> -->

          </ng-container>

          <ng-container matColumnDef="reelInStock">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Reel In Stock</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ (element.reelInStock)| number: '1.0-0' }}</mat-cell>
            <!-- <mat-cell *matCellDef="let element">
                    <input type="text" [ngModel]="element.reelInStock" pattern="[0-9]" maxlength="3" (ngModelChange)="element.reelInStock=$event"
                      (change)="showReel()" />
                  </mat-cell> -->
          </ng-container>

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>Action
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-raised-button color="warn" (click)="selectFromSelected(row,row.id)">Remove</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns_selected" style="background:orange"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns_selected;"></mat-row>
        </mat-table>
      </div>
      <!-- <mat-paginator #paginator2 [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                  </mat-paginator> -->
    </div>
    <!-- </div> -->
  </div>
  <div fxFlex="25" class="sec3" fxFlex.xs="25">
    <div *ngIf="showAllSalesOrders || showSelectedOrders" style="padding:5px;">
      <div>
        <!-- <p>Items Selected for Planning</p> -->
        <p>Items - Sales Order</p>
        <mat-table #table [dataSource]="dataSource_BF">
          <ng-container matColumnDef="bf">
            <mat-header-cell *matHeaderCellDef>Item (BF)</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.bf }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef>Weight (Tons)</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.weight }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns_bf" style="background:#FBC02D"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns_bf;"></mat-row>
        </mat-table>
      </div>
      <br>
      <div>
        <mat-table #table [dataSource]="dataSource_BFGSM">
          <ng-container matColumnDef="bf">
            <mat-header-cell *matHeaderCellDef>Item (BF GSM)</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.bf }} BF {{element.gsm}} GSM </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="gsm">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>GSM</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.gsm}}</mat-cell>
                      </ng-container> -->

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.weight }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns_bfgsm" style="background:#FBC02D"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns_bfgsm;"></mat-row>
        </mat-table>
      </div>
      <br>
      <div>

        <mat-table #table [dataSource]="dataSource_BFGSMSize">
          <ng-container matColumnDef="bf">
            <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthCell'" fxFlex="40%">Item (BF GSM Size)</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'customWidthCell'" fxFlex="40%">{{ element.bf }} BF {{element.gsm}} GSM - {{element.size}}</mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="gsm">
                        <mat-header-cell *matHeaderCellDef mat-sort-hea`der>GSM</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.gsm}} </mat-cell>
                      </ng-container>
          
                      <ng-container matColumnDef="size">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Size</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.size}} </mat-cell>
                      </ng-container> -->

          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.weight }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="reel">
            <mat-header-cell *matHeaderCellDef>Reel</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ ((element.reel) - (element.reelInStock)) }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="reelInStock">
            <mat-header-cell *matHeaderCellDef>Prod Reel</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ (element.reelInStock) }}</mat-cell>
          </ng-container>

          <!-- <mat-header-row *matHeaderRowDef="displayedColumns_bfgsmsize_prod_plan"></mat-header-row> -->
          <!-- <mat-row *matRowDef="let row; columns: displayedColumns_bfgsmsize_prod_plan;"></mat-row> -->

          <!-- <ng-template *ngIf="!showReelInStock_prod_plan"> -->
          <mat-header-row *matHeaderRowDef="displayedColumns_bfgsmsize" style="background:#FBC02D"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns_bfgsmsize;"></mat-row>
          <!-- </ng-template> -->
          <!-- <ng-template *ngIf="showReelInStock_prod_plan">
                        <mat-header-row *matHeaderRowDef="displayedColumns_prod_plan_details"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns_prod_plan_details;"></mat-row>
                      </ng-template>  -->

        </mat-table>
      </div>
    </div>
    <!-- </div> -->
    <!-- <div fxFlex="23" class="sec3" fxFlex.xs="23"> -->

  </div>

</div>
<!-- </mat-tab>
        <mat-tab label="Delete Sales Orders">
          <div fxFlex="100" class="sec1" fxFlex.xs="100">
            <app-delete-salesorders></app-delete-salesorders>
          </div>
        </mat-tab>
        <mat-tab label="Restore Sales Orders">
          <div fxFlex="100" class="sec1" fxFlex.xs="100">
            <app-restore-salesorders></app-restore-salesorders>
          </div>
        </mat-tab>
        <mat-tab label="Planned Orders">
          <div fxFlex="100" class="sec1" fxFlex.xs="100">
            <app-planned></app-planned> -->
<!-- </div> -->
<!-- </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div> -->
</div>