.mat-table {
    overflow: auto;
    /* max-height: 500px; */
    /* Max height shows vertical scrool and STATIC TOP TOOL BARS  */
  }
  /* .mat-column-userId {
    flex: 0 0 75px;
  } */
  /* .mat-button, .mat-raised-button{
    background-color:red;
} */
.example-container {
  display: flex;
  flex-direction: column;
  /* max-height: 500px; */
  /* min-width: 300px; */
}

/* .mat-table { */
  /* overflow: auto; */
  /* max-height: 500px; */
/* } */
/* .mat-column-reel { */
  /* flex: 0 0 25px; */
/* } */
input.custom {
  caret-color: blue;
  /* font: 16px "Helvetica", "Arial", "sans-serif"; */
  background-color: (234, 241, 243);
  width:45px;
  /* border: transparent; */
  border: 1px solid blueviolet(207, 230, 164);
}
.customWidthReel{
  flex: 0 0 75px;
}
.customWidthClass{
  flex: 0 0 150px;
}

.customWidthCell{
  flex: 0 0 50px;
}