<div *ngIf="isLoading" class="loader-padding" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!isLoading" style="padding:20px;">
  <div fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <p>Customers Details</p>
  <mat-table #table [dataSource]="dataSource" matSort (selectedIndexChange)="_setDataSource($event)">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef fxFlex="5%">No
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index;" fxFlex="5%">
        {{i+1}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="companyId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.companyId }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.createdDate | date: 'dd-MM-yyyy' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerGroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Group</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.customerGroup }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.customerID }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.customerType}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="gstNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>GST No</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.gstNo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Modify Reports</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="accent" (click)="onViewDetails(row.customerID)">View Sales/Receipts</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" style="background:orange"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[1, 5, 10, 20]">
  </mat-paginator>
</div>