<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <mat-card>
    <h2>CHALLENGES</h2>
    <p>Never stop! Dive into new challenges every day</p>
  </mat-card>
  <mat-card>
    <h2>ACTIVITY</h2>
    <p>Stay active and enjoy better health and more fun!</p>
  </mat-card>
  <mat-card>
    <h2>COMMUNITY</h2>
    <p>Get to know other people who share your passion!</p>
  </mat-card>
</div>
<!-- <br> -->
<!-- <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="100px" fxLayoutAlign="center center">
  <mat-card>
    <h2>COMMUNITY</h2>
    <p>Get to know other people who share your passion!</p>
  </mat-card>
</div> -->